@page "/samplepage"
@attribute [Authorize]

<h3>Entities</h3>

<div class="row">
    @if(Entities.Any())
    {
        @foreach(var entity in Entities)
        {
            <div class="col-6">
                <div class="card rounded">
                    <div class="card-title">
                        <b>@entity.Name</b>
                    </div>
                    <div>
                        <b>@entity.Description</b>
                    </div>
                </div>
            </div>
        }
    }
</div>